# SPDX-FileCopyrightText: 2022 Alec Delaney, for Adafruit Industries
#
# SPDX-License-Identifier: MIT

boto3~=1.35
click~=8.1
click-spinner~=0.1
packaging~=24.2
psutil~=6.1
pyyaml~=6.0
requests~=2.32
boto3-stubs[essential]~=1.35
