# SPDX-FileCopyrightText: 2024 Alec Delaney
# SPDX-License-Identifier: MIT

name: Run publish-specific workflows

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install Python
        uses: actions/setup-python@v6
        with:
            python-version: "3.X"
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          pip install build
      - name: Update package version to ${{ github.event.release.tag_name }}
        run: |
          echo "${{ github.event.release.tag_name }}" > VERSION
      - name: Build the package
        run: |
          python -m build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
