# SPDX-FileCopyrightText: 2024 Alec Delaney, for Adafruit Industries
# SPDX-License-Identifier: MIT

name: Test building package

on:
  pull_request:
    paths:
      - '.github/workflows/test-packaging.yaml'
      - 'Makefile'
      - 'pyproject.toml'
      - 'uv.lock'
      - 'circfirm/**'
      - 'VERSION'

permissions: read-all

jobs:
  build:
    name: Run build CI
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        py-version: [
          "3.10",
          "3.11",
          "3.12",
          "3.13",
          "3.14",
        ]
        os: [
          "ubuntu-latest",
          "windows-latest",
          "macos-latest",
        ]
        exclude:
          - os: windows-latest
            py-version: "3.11"
          - os: windows-latest
            py-version: "3.12"
          - os: windows-latest
            py-version: "3.13"
          - os: windows-latest
            py-version: "3.14"
          - os: macos-latest
            py-version: "3.11"
          - os: macos-latest
            py-version: "3.12"
          - os: macos-latest
            py-version: "3.13"
          - os: macos-latest
            py-version: "3.14"

    steps:
      - name: Setup Python 3.x
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.py-version }}
      - name: Checkout the repository
        uses: actions/checkout@v6
      - name: Install requirements
        run: |
          pip install ".[dev]"
      - name: Test packaging
        run: |
          python -m build
